QMainWindow {
    border-image: url(:/img/BGMAIN.jpg);
}

QFrame#frame_2,
#frame_3 {
    background-color: #f4f5fc;
    border: 1px solid black;
    border-radius: 20px;
}

#L1 {

    background: transparent;
    background-color: #24293e;
    color: white;
    border: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;

}

#R1 {

    background: transparent;
    background-color: #24293e;
    color: white;
    border: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;

}

QPushButton:hover {
    font-weight: bold;
}

#L2 {

    background: transparent;
    background-color: #24293e;
    color: white;
    border: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;

}

#R2 {

    background: transparent;
    background-color: #24293e;
    color: white;
    border: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;

}

QLineEdit {
    background-color: transparent;
    font: 75 italic 10pt "Gill Sans MT";
    color: black;
    border: none;
    border: 1.75px solid black;
    border-color: #24293e;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 80px;
    padding-left: 30px;

}

#albtn ,#cabtn{
    background: transparent
}

#registerbtn,#loginb {
    background-color: #FFFFFF;
    border: 1px solid hsl(0, 0%, 13%);
    border-radius: 8px;
    color: #222222;
    margin-left: 200px;
    margin-right: 200px;


}
#TITLE,
#TITLE_2 {
    color: #24293e;
    font: 75 20pt "Georgia";
}